
{% extends "master.html" %}
{% block estilos %}
    <style>

        @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');



.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}
.five .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}


/* --------- THREE --------- */


.three {
  list-style: none;
  padding: 0;
  margin: 100px 0;
}
.three > li {
  background: #FFFFFF;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 250px;
  height: 430px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}
.three > li img {
  margin-top: 60px;
}
.three > li:hover img {
  margin-top: 40px;
}
.three > li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
}
.three > li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  bottom: -400px;
}
.three > li:hover h3 {
  color: rgba(255,255,255,1);
  margin-top: 25px;
}
.three > li .wrapper {
  overflow: hidden;
  position: absolute;
  width: 250px;
  height: 430px;
}
.three > li span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 500px;
  width: 500px;
  background: #ECD16B;
  display: block;
  position: absolute;
  bottom: 150px;
  left: -125px;
}
.three > li span img {
  margin-top: 10px;
  width: 50px;
}
.three > li span:hover {
  background: #ECD16B;
}
.three > li span i {
  position: absolute;
  bottom: -90px;
  color: #ECD16B;
  text-transform: uppercase;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 2px solid #ECD16B;
  padding: 10px 30px;
  font-style: normal;
  display: inline-block;
  left: 195px;
}
.three > li span .mamber-img {
  width: 120px;
  margin-top: 170px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
.three > li span .mamber-img + h3 {
  margin-top: 20px;
}
.three > li h3 {
  margin-top: 40px;
  color: rgba(255,255,255,1);
}
.three > li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  margin-top: 5px;
}
.three .social {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.three .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}
.three > li:hover .social li {
  opacity: 0.8;
}
.three .social li a {
  cursor: pointer;
  display: block;
}
.three .social li a:hover {
  opacity: 0.5;
}
.three .social li img {
  width: 24px;
}
.imgabout{
            border-radius: 1em;
            margin: 5em;
            height: 500px;
              border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);

        }


    </style>

{% endblock %}

{% block contenido %}



<section class="container-fluid ">
     <div class="col-xs-12 col-sm-6">
         <img class="imgabout" src="https://farm2.static.flickr.com/1689/25564876744_0a532d6779_b.jpg" alt="">
     </div>
    <div class="col-xs-12 col-sm-6">
        <h2></h2>
    </div>
</section>


<div class="text-center">
   <ul class="three">
  <li class="transition">
    <div class="wrapper"> <img class="transition" src="http://dooreight.com/codepen/people/img_01.png">
      <ul class="social">
        <li>Young artist from Barcelona. She hates Comic Sans. <br>
          Find her on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3>Lucy Copycat <em>CEO & Founder</em></h3>
      <img class="mamber-img" src="http://dooreight.com/codepen/people/img_01.png">
      <h3>Lucy Copycat</h3>
      <i>more</i> </span> </div>
  </li>
  <li class="transition">
    <div class="wrapper"> <img class="transition" src="http://dooreight.com/codepen/people/img_02.png">
      <ul class="social">
        <li>Best lorem dolor guy from Detroit. Loves Helvetica. <br>
          Find him on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition">
      <h3>Johan Van Font <em>Front end developer</em></h3>
      <i>more</i> <img class="mamber-img" src="http://dooreight.com/codepen/people/img_02.png">
      <h3>Johan Van Font</h3>
      </span> </div>
  </li>


</ul>
    </div>

{% endblock %}
