{% extends "master.html" %}
{% load static %}
{% block estilos %}
	<script src="{% static 'assets/amcharts/amcharts.js' %}" type="text/javascript"></script>	
    <script src="{% static 'assets/amcharts/serial.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/amcharts/themes/dark.js'%}" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
   
{% endblock %}


{% block contenido %}
<section style="background-color:#505050;">

		<div id="chartdiv" style="width: 500px; height: 600px;"></div>	
</section>
<section class="graf_autores">
    <h2 class="text-center">Autores</h2>
    <div id="chartaut"></div>
</section>
{% endblock %}


{% block javascript %}
<script>
             AmCharts.makeChart("chartdiv", {
                type: "serial",
                theme: "dark",
                dataProvider: [
                	{%for a in avistamientos%}
						//console.log({{a.0}});
						{
							"year":{{a.0}},
								"av":{{a.1}},
								"esp":{{a.2}}
						},
					{%endfor%}
				],
                categoryField: "year",
                startDuration: 1,
                rotate: true,

                categoryAxis: {
                    gridPosition: "start"
                },
                valueAxes: [{
                    position: "top",
                    title: "Avistamientos por año de recolección",
                    minorGridEnabled: true
                }],
                graphs: [{
                    type: "column",
                    title: "Avistamientos",
                    valueField: "av",
                    fillAlphas:1,
                    balloonText: "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>"
                }, {
                    type: "line",
                    title: "Especies",
                    valueField: "esp",
                    lineThickness: 2,
                    bullet: "round",
                    balloonText: "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>"
                }],
                legend: {
                    useGraphSettings: true
                },

                creditsPosition:"top-right"

            });


        </script>
        <!--Amcharts Grafica autores y sus avistamientos-->
    <script>
        var chart = AmCharts.makeChart("chartaut", {
            "type": "pie",
            "theme": "light",
            "innerRadius": "40%",
            "gradientRatio": [-0.4, -0.4, -0.4, -0.4, -0.4, -0.4, 0, 0.1, 0.2, 0.1, 0, -0.2, -0.5],
            "dataProvider": [
                {%for a in top%}
                    {
                        "autor": "{{a.0}}",
                        "investigacion": {{a.1}}
                    },
                {% endfor%}
            ],
            "balloonText": "[[value]]",
            "valueField": "investigacion",
            "titleField": "autor",
            "balloon": {
                "drop": true,
                "adjustBorderColor": false,
                "color": "#FFFFFF",
                "fontSize": 16
            },
            "export": {
                "enabled": true
            }
        });
    </script>
    
{% endblock %}