{% extends "master.html" %}
{% load static %}

{% block estilos %}

	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/sequences.css' %}"/>
 <!--HMcharts-->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/streamgraph.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/annotations.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<!--Circular-->
	<script src="https://code.highcharts.com/modules/sunburst.js"></script>
{% endblock %}

{% block contenido %}
<section id="mapas" class="mapas">
	<h2 class="text-center">Especies</h2>
	<div class="container ">
			<div class="info">
			<h3 class=".text-center">Seleccionar Especie</h3>
			<div class="dropdown">
			<button class="btn btn-default dropdown-toggle " type="button" id="menu1" data-toggle="dropdown">Selecionar
			<span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                {% for foo in ubicaciones %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ foo.id_especie.nombre }}</a></li>
                {% endfor %}


			</ul>
		</div>

		<article class="text-justify infor margin ">
			<p>El mapa presenta todas las especies vistas en el país.</p>

		</article>
		</div>

		<section id="map-canvas"></section>
	</div>
</section>


<section class="graficas">
	<!--<h3 class="text-center">Graficas</h3>-->
	<section>
		<div id="provincias"></div>
	</section>

</section>




{% endblock %}

{% block javascript %}


<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script >
function initialize() {
var myLatlng = new google.maps.LatLng(-2.524406, -78.929772);
var mapOptions = {
	zoom: 7,
	center: myLatlng
}
var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

{% for lugares in ubicaciones %}
    {% if lugares %}
            var marcador = new google.maps.LatLng({{lugares.latitud}}, {{lugares.longitud}});
	console.info( marcador  );

	var marker = new google.maps.Marker({
			position: marcador,
			map: map,
			title: '{{lugares.anio_publicacion}'
	});
		google.maps.event.addListener(marker, 'click', function(){
					var popup = new google.maps.InfoWindow();
					var note = '{{lugares.comportamiento}}<br>'+'{{lugares.llamados}}'+'<h1>{{lugares.latitud}}</h1>';
					popup.setContent(note);
					popup.open(map, this);
		})
    {% endif %}

{% endfor %}

}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!--GRAFICA AVES PROVINCIAS PAISES-->
<script type="text/javascript">
			var data = [
			{
			    'id': '0',
			    'parent': '',
			    'name': 'Ecuador & Perú'
			},
			{%for pa in paises%}
				{
					'id':'{{pa.0}}',
					'parent':'0',
					'name':'{{pa.1}}'
				},
			{%endfor%}
			{%for p in provincias%}
				{
					'id':'{{p.0}}',
					'parent':'{{p.2}}',
					'name':'{{p.1}}',
					'value':{{p.3}}
				},
			{%endfor%}
			
			];

			// Splice in transparent for the center circle
			Highcharts.getOptions().colors.splice(0, 7, 'transparent');


			Highcharts.chart('provincias', {

			    chart: {
			        height: '100%'
			    },

			    title: {
			        text: 'Aves vistas en Perú y Ecuador'
			    },
			    series: [{
			        type: "sunburst",
			        data: data,
			        allowDrillToNode: true,
			        cursor: 'pointer',
			        dataLabels: {
			            format: '{point.name}',
			            filter: {
			                property: 'innerArcLength',
			                operator: '>',
			                value: 16
			            }
			        },
			        levels: [{
			            level: 1,
			            levelIsConstant: false,
			            dataLabels: {
			                rotationMode: 'parallel',
			                filter: {
			                    property: 'outerArcLength',
			                    operator: '>',
			                    value: 64
			                }
			            }
			        }, {
			            level: 2,
			            colorByPoint: true,
			            dataLabels: {
			                rotationMode: 'parallel'
			            }
			        },
			        {
			            level: 3,
			            colorVariation: {
			                key: 'brightness',
			                to: -0.5
			            }
			        }, {
			            level: 4,
			            colorVariation: {
			                key: 'brightness',
			                to: 0.5
			            }
			        }]

			    }],
			    tooltip: {
			        headerFormat: "",
			        pointFormat: 'Avistamientos de <b>{point.name}</b>: <b>{point.value}</b>'
			    }
			});
		</script>
	
{% endblock %}
