{% extends "master.html" %}
{% block estilos %}
    <style type="text/css">
        .hide-bullets {
        list-style:none;
        margin-left: -40px;
        margin-top:20px;
        }

    </style>
{%  endblock %}
{% block contenido %}




<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        {% for foo in range(img) %}

                                             <div class="active item" data-slide-number="{{ foo.id_foto }}">
                                             <img src="{{ foo.url }}"></div>
                                        {% endfor %}




                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <div id="slide-content" >
                                <div >
                                    <h2>Slider One</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>



                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">

                            {% for foo in img  %}
                                <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-{{ foo.id_foto }}">

                                    <img src="{{ foo.url }}"></a>
                                 </li>

                                 {% endfor %}



                        </ul>
                </div>
        </div>
</div>

{% endblock %}
{% block javascript %}

    <script type="text/javascript">
    jQuery(document).ready(function($) {

        $('#myCarousel').carousel({
                interval: 5000
        });

        $('#carousel-text').html($('#slide-content-{{ img.0.id_foto }}').html());

        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });


        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>
 {% endblock %}