{% extends "master.html" %}

{% block estilos %}	
	<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
	<script src="https://www.amcharts.com/lib/3/serial.js"></script>
	<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
	<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
	<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
{%endblock%}

{% block contenido %}
	<section class="container ">
		<div class="info">
			<h3 class=".text-center">Estado de Conservación</h3>
			<div class="dropdown">
			
				<p>El estado de conservación es una medida de la probabilidad de que una especie continúe existiendo en el presente o en el futuro cercano, en vista no sólo del volumen de la población actual, sino también de las tendencias que han mostrado a lo largo del tiempo, de la existencia de depredadores u otras amenazas, de las modificaciones previstas en su hábitat, etc.</p>

				<p>La más difundida de las clasificaciones para los estados de conservación es la elaborada por la Unión Internacional para la Conservación de la Naturaleza (UICN)</p>
			</div>
		</div>
		<div class="info_dere">
			<h3>Lista Roja de la UICN</h3>
			<div class="l1">
				 <ul>
				 	<h4>Bajo riesgo</h4>
						<li>Preocupación menor (LC)</li>
						<li>Casi amenazada (NT)</li>
				</ul>
				<ul>
					<h4>Amenazada</h4>
						<li>Vulnerable (VU)</li>
						<li>En peligro (EN)</li>
						<li>En peligro crítico (CR)</li>
				</ul>
			</div>
			<div class="l2">
				
				<ul>
					<h4>Extinta</h4>
						<li>Extinta en estado silvestre (EW)</li>
						<li>Extinta (EX)</li>
				</ul>
				<ul>
					<h4>Otras categorías</h4>
						<li>Datos Insuficientes (DD)</li>
						<li>No Evaluado (NE) </li>
						<li>Dependiente de Conservación (CD)</li>
				</ul>
			</div>
		</div>
	</section>

	<section id="graf_uicn">
		<div id="chartdiv"></div>
	</section>

{% endblock %}

{% block javascript %}
<!--Amcharts-->
<script>
var colores=["#0D8ECF","#0D52D1","#8A0CCF","#CD0D74","#754DEB","#DDDDDD","#999999"];
var i=0;
var chart = AmCharts.makeChart("chartdiv", {
    "theme": "light",
    "type": "serial",
	"startDuration": 2,
    "dataProvider": [
    	{%for u in uicn%}
    		{
    			"estado":"{{u.0}}",
    			"especies":{{u.1}},
	   			"color":"{{u.2}}",
    		},
    		//i++;
	    {%endfor%}
    ],
    "valueAxes": [{
        "position": "left",
        "title": "Especies"
    }],
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "especies"
    }],
    "depth3D": 20,
	"angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },
    "categoryField": "estado",
    "categoryAxis": {
        "gridPosition": "start",
        "labelRotation": 90
    },
    "export": {
    	"enabled": true
     }

});
</script>
{%endblock%}
